.certificado-card {
  border: 2px solid #007d4b88;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}


.certificado-card .pontos {
  text-align: center;
  color: #575757;
}

.Pendente {
  color: #ff8c00;
}

.Negado, .Ausente {
  color: #ff3838;
}

.Aprovado, .Presente {
  color: #31ff15;
}