.menu-lateral {
  background-color: #00995D;
  height: 100vh;
  position: fixed;
  top: 0;
}

.menu-lateral-img {
  width: 90%;
  margin: 0 5%;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.menu-items .menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  padding: 0.8em;
}

.menu-items .menu-item:hover{
  background: #007d4b;
}